/*tags*/
a {
  text-decoration: none;
}


.nav-bar {
  background-color: rgba(93,93,93,1);
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-link {
  font-weight: bold;
  padding: 0 5vw;
  border-right: #3b424d 1px solid;
  height: 100%;
}

.nav-link span {
  vertical-align: sub;
}

.nav-link:first-child {
  border-left: #3b424d 1px solid;
}

.nav-link:hover {
  background-color: #777a7d;
}

.alternate-row {
  text-align: center;
  display: flex;
  padding-top: 4rem;
  line-height: 2rem;
}

.alternate-row a:nth-child(odd) {
  background-color: rgba(93,93,93,1);
  color: #fff;
}

.alternate-row a.nav-selected {
  color: red
}

.list {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.selected-element {
  min-width: 50%;
}

.invoice {
  margin: 0 auto;
}

.container {
  position: relative;
  top: 6rem;
  display: flex;
  max-width: 100%;
  justify-content: space-around;
}

.nav-buttons {
  padding: 30vh 0;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  width: 30vw;
  color: white;
  border-radius: 20%;
  background: rgb(139, 150, 205);
  background: linear-gradient(90deg,
   rgba(139,150,205,1) 0%,
   rgba(137,147,199,1) 5%,
   rgba(133,142,189,1) 14%, 
   rgba(128,136,178,1) 24%, 
   rgba(123,130,166,1) 35%, 
   rgba(117,123,153,1) 47%, 
   rgba(112,117,141,1) 58%, 
   rgba(106,109,125,1) 72%, 
   rgba(100,102,110,1) 85%, 
   rgba(93,93,93,1) 100%);
}

.index {
  margin: 0 auto;
}

.balance {
  font-size: 4rem;
  font-weight: bold;
}

.balance-banner {
  font-weight: bold;
}

.title {
  margin: 10vh auto;
  width: 50vw;
  text-align: center;
}

.small-button {
  padding: 5vh;
  font-size: 2rem;
  margin: 0 3vw;
  text-align: center;
  width: 15vw;
  color: white;
  border-radius: 5%;
  background-color: rgba(93,93,93,1);
}