/*tags*/
a {
  text-decoration: none;
}

.nav-bar {
  margin: 0 1rem;
}

.nav-link {
  margin: 0 1rem;
}

.alternate-row {
  text-align: center;
  display: flex;
}

.alternate-row a:nth-child(odd) {
  background-color: #3b424d;
  color: #fff;
}

.alternate-row a.nav-selected {
  color: red
}

.list {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.selected-element {
  min-width: 50%;
}

.invoice {
  margin: auto;
}